*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding-top: 40px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 40px;
}

.main-content{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

/* profile section */

.profile{
    text-align: center;
}


.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #a855f7;
}

.profile h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #a855f7;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

/* contact section */

.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email,.phone{
    margin-bottom: 15px;
}

/* social media icon */
.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}

.social img:hover{
     filter: grayscale(0) invert(0);
}

/* main content start */

/* navigation bar */


#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap:20px;
}

nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.active, nav a:hover{
    color: #a855f7;
}

/* about me */

.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: #a855f7;
    margin-bottom: 15px;
}

.content{
    text-align: justify;
    color: #a0a0a0;
}

#about{
    margin-bottom: 40px;
}

/* skills section */

.grid-cotainer{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(120px,1fr));
    gap: 30px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color:  #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img{
    height: 48px;
    width: 48px;
    filter: invert(38%) sepia(91%) saturate(747%) hue-rotate(235deg) brightness(95%) contrast(95%);
    margin-bottom: 15px;
}

item h3{
    font-size: 1rem;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(212, 106, 228, 0.3);
}

/* educatio */
#education{
    margin-top: 30px;
}

.edtech{
    position: relative;
    margin-top: 20px;
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.work{
    color: #d3cece;
}

.custom-list {
  list-style: none;
  padding-left: 0;
}

.custom-list li {
  position: relative;
  padding-left: 18px;
  margin-bottom: 8px;
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: #a855f7; /* purple dot */
  border-radius: 50%;
}


.edfirst, .edsecond{
    margin-bottom: 30px;
    padding-left: 20px;
    position: relative;
}

.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #a855f7;
    position: absolute;
    top : 4px;
    left: 0px;
    z-index: 5;
}

.liner{
    position: absolute;
    width: 2px;
    top: 0px;
    bottom: 0px;
    left: 6px;
    border: 2px solid #3a3a3a;
}

/* portfolio */

.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:25px; 
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover{
    transform: translateY(-5px);
     box-shadow: 0px 0px 10px 5px rgba(212, 106, 228, 0.3);
}
.project img{
    height: 180px;
    width: 100%;
    object-fit: cover ;
}

.project-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card{
    padding: 20px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}

.card span{
    background-color: #3a3a3a;
    color: #a855f7;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

@media screen and (max-width:1200px){
    .main-container{
        grid-template-columns:1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}